html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

:root {
  --color1: #222831;
  --color2: #393e46;
  --color3: #00adb5;
  --color4: #eee;
  --transparent1: #22283175;
  --transparent2: #393e4675;
  --transparent3: #00adb575;
  --transparent4: #eeeeee75;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color4);
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

header {
  width: 80vw;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

header > nav {
  display: flex;
  gap: 30px;
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#logo {
  width: 80px;
  height: 80px;
}

#menu {
  backdrop-filter: blur(4px);
  background-color: var(--transparent2);
  display: flex;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  align-items: center;
}

#menu > li {
  transition: all 0.3s;
}

#menu > li.selected {
  background-color: var(--color1);
  border-radius: 5px;
}

#menu > li > a {
  display: flex;
  padding: 15px;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: black;
  color: var(--color4);
}

#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 100px;
  color: var(--color4);
  background: linear-gradient(180deg, black 0%, rgba(0, 0, 0, 0.85) 50%, transparent 100%);
}

#intro > div {
  height: 50vh;
}

footer {
  background-color: var(--transparent1);
  border-top: 1px solid var(--color4);
  width: 100%;
  padding: 5vw;
}

section {
  width: 100%;
}

#shows {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background-color: var(--color2);
  color: var(--color4);
  backdrop-filter: blur(5px);
  overflow: hidden;
  transition: all 0.2s;
}

.show:hover {
  box-shadow: 2px 5px 10px -3px black;
}

.imageContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}

.showTitle {
  margin: 0;
  position: absolute;
  bottom: 0;
  min-height: 50px;
  line-height: 50px;
  color: white;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.8519608527004552) 59%, rgba(255, 255, 255, 0) 100%);
  width: 100%;
  text-align: center;
}

.showInfo {
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.showImage {
  width: 100%;
  object-fit: contain;
  max-height: 60vh;
}

.showDescription > p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.showDescription > p:not(:first-of-type) {
  display: none;
}

.interactions {
  display: flex;
  font-size: 2rem;
  width: 100%;
  justify-content: space-evenly;
}

.like,
.comment {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.2s;
  position: relative;
}

.like:hover,
.comment:hover {
  background-color: var(--color4);
  color: var(--color1);
  cursor: pointer;
}

#loadMore {
  width: 200px;
  height: 50px;
  border: none;
  background-color: var(--color3);
  border-radius: 30px;
  color: var(--color4);
  margin-bottom: 50px;
}

#loadMore:hover {
  cursor: pointer;
  box-shadow: 2px 5px 10px -3px black;
}

.liked {
  color: #d81f26;
}

.likeCount {
  position: absolute;
  bottom: 0;
  font-size: 0.8rem;
  line-height: 0.8rem;
}

.cmt-container {
  display: flex;
  align-items: center;
  /* position: fixed; */
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(103, 123, 235, 0.553);
  opacity: 0.9;
}

.containers {
  width: 60%;
  margin: auto;
  padding: 20px 0;
  background-color: white;
  border-radius: 5px;
  height: 95vh;
  overflow-y: scroll;
}

.containers::-webkit-scrollbar {
  width: 10px;
}

.containers::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

.containers::-webkit-scrollbar-thumb {
  background: rgb(235, 114, 14);
  border-radius: 10px;
}

.containers .movie-details .close-x {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.containers .movie-details .close-x i {
  cursor: pointer;
}

.containers .movie-details .movie-name {
  display: flex;
  justify-content: center;
}

.containers .movie-details .movie-name h1 {
  font-size: 30px;
  font-weight: 800;
}

.containers .movie-details .movie-banner {
  width: 30%;
  height: 40vh;
  margin: auto;
}

.containers .movie-details .movie-banner img {
  width: 100%;
  height: 100%;
}

.containers .movie-details .movie-summary {
  width: 90%;
  margin: auto;
}

.containers .movie-details .movie-summary h2 {
  font-size: 20px;
  font-weight: 400;
}

.containers .movie-details .more-lists .lists {
  list-style: none;
}

.containers .movie-details .more-lists .lists .item {
  font-size: 20px;
  font-weight: 900;
  margin: 8px;
}

.containers .movie-details .more-lists .lists .item .type {
  color: white;
  background-color: rgb(14 165 233);
  border-radius: 5px;
  padding: 2px;
}

.containers .movie-details .more-lists .lists .item .language {
  color: white;
  background-color: rgb(235, 114, 14);
  border-radius: 5px;
  padding: 2px;
}

.containers .movie-details .more-lists .lists .item .date {
  color: white;
  background-color: rgb(100 116 139);
  border-radius: 5px;
  padding: 2px;
}

.containers .movie-details .comment-lists {
  width: 60%;
  margin: auto;
  align-items: center;
}

.containers .movie-details .comment-lists .table-head {
  display: flex;
  justify-content: center;
}

.containers .movie-details .comment-lists h2 {
  font-size: 25px;
  font-weight: 900;
}

.containers .movie-details .comment-lists table {
  width: 100%;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.containers .movie-details .comment-lists tr {
  width: 100%;
  margin: 10px;
}

.containers .movie-details .comment-lists tr .cmt-date {
  width: 30%;
  background-color: rgb(100 116 139);
  border-radius: 10px;
}

.containers .movie-details .comment-lists tr .cmt-name {
  width: 25%;
}

.containers .movie-details .comment-lists tr .cmt-body {
  width: 45%;
}

.containers .movie-details .add-comment {
  width: 70%;
  margin: auto;
}

.containers .movie-details .add-comment .heading {
  display: flex;
  justify-content: center;
}

.containers .movie-details .add-comment .input-name {
  width: 90%;
  margin: 5px auto;
}

.containers .movie-details .add-comment .input-name input {
  width: 100%;
  height: 5vh;
  outline: solid rgb(0, 153, 255);
  border-radius: 5px;
}

.containers .movie-details .add-comment .input-cmt {
  margin: 10px auto;
  width: 90%;
}

.containers .movie-details .add-comment .input-cmt textarea {
  width: 100%;
  outline: solid rgb(0, 153, 255);
  border-radius: 5px;
}

.containers .movie-details .add-comment .submit-btn {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
}

.containers .movie-details .add-comment .submit-btn button {
  background-color: #c21010;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
}
