html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.cmt-container {
  display: flex;
  align-items: center;
  /* position: fixed; */
  z-index: 100;
  left: 0;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(103, 123, 235, 0.553);
  opacity: 0.9;
}

.containers {
  width: 60%;
  margin: auto;
  background-color: white;
  height: 90vh;
  overflow: scroll;
}

.containers .movie-details .close-x {
  width: 95%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.containers .movie-details .close-x i {
  cursor: pointer;
}

.containers .movie-details .movie-name {
  display: flex;
  justify-content: center;
}

.containers .movie-details .movie-name h1 {
  font-size: 30px;
  font-weight: 800;
}

.containers .movie-details .movie-banner {
  width: 30%;
  height: 40vh;
  margin: auto;
}

.containers .movie-details .movie-banner img {
  width: 100%;
  height: 100%;
}

.containers .movie-details .movie-summary {
  width: 90%;
  margin: auto;
}

.containers .movie-details .movie-summary h2 {
  font-size: 20px;
  font-weight: 400;
}

.containers .movie-details .more-lists .lists {
  list-style: none;
}

.containers .movie-details .more-lists .lists .item {
  font-size: 20px;
  font-weight: 900;
  margin: 8px;
}

.containers .movie-details .more-lists .lists .item .type {
  color: white;
  background-color: rgb(14 165 233);
  border-radius: 5px;
  padding: 2px;
}

.containers .movie-details .more-lists .lists .item .language {
  color: white;
  background-color: rgb(235, 114, 14);
  border-radius: 5px;
  padding: 2px;
}

.containers .movie-details .more-lists .lists .item .date {
  color: white;
  background-color: rgb(100 116 139);
  border-radius: 5px;
  padding: 2px;
}

.containers .movie-details .comment-lists {
  width: 60%;
  margin: auto;
  align-items: center;
}

.containers .movie-details .comment-lists .table-head {
  display: flex;
  justify-content: center;
}

.containers .movie-details .comment-lists h2 {
  font-size: 25px;
  font-weight: 900;
}

.containers .movie-details .comment-lists table {
  width: 100%;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.containers .movie-details .comment-lists tr {
  width: 100%;
  margin: 10px;
}

.containers .movie-details .comment-lists tr .cmt-date {
  width: 30%;
  background-color: rgb(100 116 139);
  border-radius: 10px;
}

.containers .movie-details .comment-lists tr .cmt-name {
  width: 25%;
}

.containers .movie-details .comment-lists tr .cmt-body {
  width: 45%;
}

.containers .movie-details .add-comment {
  width: 60%;
  margin: auto;
}

.containers .movie-details .add-comment .heading {
  display: flex;
  justify-content: center;
}

